body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #333, #1a1a1a); /* Gradiente de fundo escuro */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    color: #ffff;
    text-align: center;
}

.welcome-container {
    background: #1a1a1a; /* Fundo escuro para o contêiner */
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
    max-width: 400px;
    box-sizing: border-box;
    height: 660px;
}

h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

p {
    font-size: 18px;
    margin-bottom: 30px;
}

.welcome-container img {
    width: 100%;
    max-width: 400px;
    border-radius: 8px;
    margin-bottom: 30px;
}

.button-container {
    display: flex;
    justify-content: space-between;
}

.button {
    flex: 1;
    padding: 12px;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    margin: 0 5px;
    font-weight: bold;
    background: linear-gradient(135deg, #f35c23, #d74a1a); /* Gradiente laranja */
}
/*.
.login-button, .register-button ,#convite {
    background: linear-gradient(135deg, #f35c23, #d74a1a); /* Gradiente laranja para o botão de login 
}*/

/* .register-button, .login-button, #convite {
    background: linear-gradient(135deg, #1875E8, #07a3ed); /* Gradiente Azul  para o botão de cadastro  e login
}*/

.register-button, .login-button, #convite {
    background: linear-gradient(175deg, #2dff00, #8db350);
}
.colorstar {
    color: #71c57f;
}

.timeline-container {
    position: relative;
    width: 100%;
}

.timeline {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 2px;
    background-color: #ccc;
    width: 100%;
}

.cities-container {
    display: flex;
    align-items: center;
}

.city {
    position: relative;
    margin: 0 10px; /* Ajuste a margem conforme necessário */
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

img.imagemperfil {
    width: 85px;
    margin-top: 11px;
    margin-left: 30px;
}

.cardPrincipal {
    margin-top: 50px; /* Ajuste a margem conforme necessário */
}

/* Centralize os cards */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

/* cadastro_carona.html */

.container_cadastro_carona{
    display: flex;
    font-size: 20px;
    flex-direction: column;
    gap: 20px;
    align-items: start;
    border: 1px solid #d74a1a;
    border-radius: 20px;
    padding: 30px;
}

.container_cadastro_carona input{
    border-radius: 10px;
    background-color: transparent;
    border-color: #d74a1a;
    font-size: 26px;
}

.container_cadastro_carona button{
    align-self: center;
    padding: 16px 30px;
    border-radius: 20px;
    background-color: #d74a1a;
    font-size: 20px;
    color: white;
}
.container_cadastro_carona button:hover{
    background-color: #f35c23;
    cursor: pointer;
}
/* FIM cadastro_carona.html */




